*{
    background-color: white;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

.navbar-brand img{
    height: 40px;
    
}

.navbar{
    width: 100vw;
    position: fixed;
    top: 0;
    margin-top: -7px;
    font-weight: 500;
    z-index: 1;
}

.content-list{
    margin-right: 5px;
}

.nav-content{
    padding-top: 3px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    height: 30px;
    background-color: transparent;
}

.nav-content:hover{
    cursor: pointer;
    background: rgba(0, 0, 0, 0.1);
    transition: all 0.4s;
}

.navbar .btn{
    display: none;
    font-size: 14px;
    backdrop-filter: blur(2px);
    font-weight: 500;
    background-color: rgba(0, 0, 0, 0.1);
}

.btn:focus{
    box-shadow: none;
}

.menu-list{
    display: none;
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
}

.default-items{
    z-index: 1;
}

.language{
    margin-top: 10px;
    margin-left: 40px;
    margin-bottom: 50px;
}

#image{
    height: 20px;
    background-image: url("assets/globe.png");
    background-size: cover;
}

a{
    font-size: 14px;
    color: gray;
}

.responsive-items{
    display: none;
}


.button{
    height: 40px;
    Width: 40px;
    position: absolute;
    right: 25px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
}

.button:hover{
    background-color: rgba(0, 0, 0, 0.1);
}

.side-nav-items{
    width: 250px;
    margin-right: 20px;
    padding: 10px 60px 10px 10px;
    font-size: 15px;
    border-radius: 5px ;
}

.side-nav-menu{
    margin-top: 75px;
}

.side-nav-items:hover{
    cursor: pointer;
    background: rgba(0, 0, 0, 0.1);
    transition: all 0.4s;
}


@media (max-width:1200px){
    .nav-content{
        display: none;
    }
    .navbar .btn{
        display: block;
    }
    .responsive-items{
        margin-top: 75px;
        display: block;
    }
    .side-nav-menu{
        margin-top: 0px;
    }
}

.scroll{
    scroll-snap-type: y mandatory;
    height: 100vh;
}

section{
    scroll-snap-align: start;
    height: 100vh;
    background-size: cover;
    background-position: center center;
    text-align: center;

}

.center-text{
    margin-top: 100px;
}

.delivery-span{
    text-decoration: underline;
    cursor: pointer;
}



#cust-ord{
    margin-top: 475px;
    backdrop-filter: blur(4px);
    background-color: rgba(23, 26, 32, 0.8);
    color: white;
}

#exst-inv{
    margin-top: 475px;
    backdrop-filter: blur(4px);
    background-color: rgba(244, 244, 244, 0.65);
    color: #393C41;
}

@media (min-width:850px) and (max-width:1200px){
    .center-text{
        margin-top: 200;
    }
    #exst-inv{
        margin-top: 575px;
    }
    #cust-ord{ 
        margin-top: 575px;
    }
}


@media (min-width:600px) and (max-width:850px){
    .center-text{
        margin-top: 300px;
    }
    #exst-inv{
        position: absolute;
        bottom:100px
    }
    #cust-ord{
        position: absolute;
        bottom:100px;
        right:400px   
    }
}

@media (max-width:600px){
    section{
        height: 80vh;
    }
    #exst-inv{
        margin-top: 20px;
    }
    #cust-ord{
        margin-top: 475px;
    }
}

